Django==1.11.5
celery==4.2.1
django-fcm==0.1.1
django-filter==1.1.0
djangorestframework==3.6.4
djangorestframework-jwt==1.11.0
enum34==1.1.6
fcm-django==0.2.13
html5lib==1.0.1
httplib2==0.11.3
MySQL-python==1.2.5
ndg-httpsclient==0.4.0
Pillow==4.2.1
